/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.pageContainer{
    width: 100%;
    height: inherit;
    /* background-color: black; */
    background-image: linear-gradient(135deg, black, white 99%);

    padding: 25px 0px;
}


.containers{
    border: solid black 2px;
    background-image: linear-gradient(135deg, rgb(121,0,0), Black 99%);

    text-align: center;
    padding: 1.5% .5%;
    vertical-align: top;
    margin: 0 2.5%;

}

.subtainers{
    background-color:white;
    border: solid black 3px;
    width: 90%;
    margin: 0 auto;
    height: inherit;

}
p{
    text-align: left;
    margin: 0;
    padding: 10px;
}

@media only screen and (max-width: 768px){
    .pageContainer{
    background-image: linear-gradient(180deg, black, rgb(121,0,0) 99%);
    }

    .containers{
        padding: 0%;
        margin: 25px auto 0 auto;
        width: 100%;
        display: block;
        border: solid black 3px;
        background-color: transparent;

    
    }
    
    .subtainers{

        width: 100%;
        margin: 0 auto;
        border: none;

    }
}