#footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0px;
    background-color: rgb(121, 0, 0);
    padding: 10px;
    height: 100px;
    margin: 0px;
    text-align: center;
}
#footp{
    color: white;
    display: block;
    font-size: 1em;
    margin: 0;
    text-align: center;
}
#shoe{
    margin:0;
}
a{
    color: white;
    display: inline-block;
    font-size: .5em;
    background-color: transparent;
    border: none;
    margin: 0% .5%;
}

@media only screen and (max-width: 768px){
    #footer{
        border-top: solid black 5px;
    }
}