
#image{
    height: inherit;
    width:35%;
    min-width: 30%;
    display: inline-block;    
}
img{
    width:100%;
}
h3{
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
}

#greeting{
    height: inherit;
    width: 55%;
    min-width: 50%;
    display: inline-block;
    padding: 1.5% .5%;


}


@media only screen and (max-width: 768px){
    
    #image{
        height: inherit;
        width:90%;
        display: block;
        margin: 0 auto;

    }
    
    #greeting{
        height: inherit;
        width: 90%;
        display: block;  
        margin: 20 auto 0 auto;
        padding: 15px;
        background-image: none;
        background-color: white;


    }
}