<div class="pageContainer">
    <div class="containers" id="image">
        <div class="subtainers">
            <img src="../../assets/images/PortfolioPic.JPG" alt="Johnathan Williams">
        </div>
    </div>
    <div class="containers" id="greeting">
        <div class="subtainers">
            <h3>Hello World, and Welcome!</h3>
            <p>
                My name is Johnathan Williams, and I'm a <b>full-stack software developer</b>!
                My career path and aspirations have been a winding loop with me majoring in biology when I started college, then changing, and graduating, with my degree in public relations.
                After pursuing a career in public relations, and realizing that it was more fun to study it than to actually work in the field, I fell into teaching, and put my communication skills and biology knowledge to use.
                Teaching was a great experience, as I got to connect with my students, and truly enjoyed teaching them.
                Besides coming up with fun and engaging ways to teach science, and finding ways to make my students as excited to learn it as I was to teach it, I hated being the other parts of being a teacher; however, it was because I was a teacher that allowed me to be introduced to coding while participating at the <a target="_blank" href="https://www.pathwaystoscience.org/programs.aspx?descriptorhub=RET_NSF%20RET%20-%20Research%20Experience%20for%20Teachers">Research Experience for Teachers (RET)</a> program at <a target="_blank" href="https://www.usc.edu/">University of Southern California (USC)</a>, that I had found my calling.
            </p>
            <p>
                Once I knew what I wanted to do, I started doing everything that I could do to learn it, while I was finishing my last year of teaching.
                I started doing <a target="_blank" href="https://www.codecademy.com/">Codecademy</a> courses, went to a <a target="_blank" href="https://www.codingdojo.com/">coding bootcamp</a>, and tried to break into the tech industry from there, to no avail.
                Of course, I was disappointed, but it wasn't until I started applying for jobs that I realized that I didn't know enough to enter the tech field, and stay afloat.
                I rarely passed the coding challenges, and felt that I let myself down.
                However, I loved what I did, and kept learning, studying, and working; and I can say with certainty, that I'm ready to make my tech debut.
                While I attended the coding bootcamp, I learned the web basics (HTML, CSS, and JS), and 3 full stacks: Python (Flask, Django), C# (ASP/.NET), and the JavaScript MEAN (MongoDB, Express, Angular, Node) stack.
                At that time, I was not proficient in any of the stacks, at least not to be a professional.
                Since then, I have expanded my knowledge to understanding shell scripting, mobile development (React Native and Xamarin), studied a bit of computer vision (openCV), and want to learn AI/ML, and game development.
                Along with that, I've further developed my understanding of the things that I learned from my bootcamp.
            </p>
            <p>
                I can prove that I have grown as a developer by allowing you to see my original <a target="_blank" href="http://13.57.250.253">portfolio site</a>.
                That one had many beginner mistakes if you looked at the codebase, with many repititions in the code.
                Along with that, I tried to create my own interactivity, and provide the illusion of SPA functionality with vanilla JS.
                Unfortunately, I lost my .pem key, and can't access it, but I keep it up as a reference to how much I've grown as a developer.
                It also had an error that I can't change on my slideshow, so I had to create a new one, altogether. 
            </p>
        </div>
    </div>
</div>