<div class="pageContainer">
    <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="assets/images/MeCollage.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel> -->
    <div class="containers" id="frame">
        <img src={{imageChange()}} alt="Collage of Pictures of Johnathan Williams" >
    </div>
    <div class="containers" id="buttonContainer">
            <button class="buttons">Button 1</button> 
            <button class="buttons">Button 2</button> 
            <button class="buttons">Button 3</button> 
            <button class="buttons">Button 4</button>
            <button class="buttons">Button 5</button>
    </div>
</div>