#navBar{
    border-radius: 0px;
    background-color: rgb(121,0,0);
    padding: 15px;
    height: 150px;
    margin: 0px;
}
h1{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul{
    text-align: right;
}
.buttons{
    color: white;
    display: inline-block;
    font-size: 1.25em;
    background-color: transparent;
    border: none;
}