<div class="jumbotron" id="navBar">
    <h1>Johnathan Williams</h1>
    <ul>
        <button [routerLink]="['/']" class="buttons">Home</button>
        <button [routerLink]="['/about']" class="buttons">About</button>
        <button [routerLink]="['/resume']" class="buttons">Resume</button>
        <button [routerLink]="['/workshop']" class="buttons">Workshop</button>
        <button [routerLink]="['/contact']" class="buttons">Contact</button>
    </ul>
</div>
<!-- <button class= "btn-success" [routerLink] = "['/products/new']">Add new product</button> -->